article {
    margin: 3px;
    padding: 1em;
    max-width: 35vw;
    background: linear-gradient(180deg,
    red, blue, purple);
    border-bottom-right-radius: 6em 3em;
    flex: 0 1 auto;
}
article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: left;
}